$main-color: rgb(52, 84, 122);
$color-black: #000000;
$color-gray: #727272;
$color-white: #ffffff;
$font-family-roboto: "Roboto", sans-serif;
$background-color-1: #eeeff1;
$background-color-2: $main-color;
$background-color-3: #ffffff;
$color-first-screen: $main-color;
